.categoryCard {
  border: 1px solid;
  border-radius: 10px;
  border-color: #d2d2d2;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.7s;
}
.categoryCard:hover {
  box-shadow: 0 0 7px #009999;
}

.categoryCard img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
