.contentContainer {
  border-radius: 15px;
  width: 90%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  margin: 60px auto 30px auto;
}
.form-container {
  /* background-color: var(--bs-success-bg-subtle); */
  width: 80%;
  padding: 20px;
  margin: auto;
}

.form-container .form-element {
  margin-bottom: 20px;
  /* background-color: red; */
}
.form-container label {
  /* background-color: var(--bs-success-bg-subtle); */
  font-size: 14px;
  font-weight: 600;
  color: #223944c2;
}
.form-container a {
  /* background-color: var(--bs-success-bg-subtle); */
  font-size: 14px;
  font-weight: 600;
  color: #223944c2;
}
.form-container a:hover {
  color: #009999;
}

.form-container input {
  /* background-color: #faf9f1; */
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #2239446c;
}
.form-container input::placeholder {
  color: #2239446c;
  font-size: 14px;
}
.form-container input:focus {
  outline: none !important;
  box-shadow: none;
  /* border: solid 1px; */
  border-color: #009999;
}

.form-container button {
  background-color: #009999;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 6px 25px;
  font-size: 15px;
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.3s;
  /* margin: auto; */
}
.form-container button:hover {
  background-color: #faf9f1;
  color: #009999;
  border: 1px solid #009999;

  /* margin: auto; */
}
