<section class="w-75 mx-auto cartContainer p-3 rounded-3 my-2">
  <div class="d-flex justify-content-between align-items-center"></div>

  <div
    class="row border-bottom pb-2 pt-2 d-flex align-items-center"
    *ngFor="let item of ordersDetails"
  >
    <div class="col-md-6">
      <div>
        <div class="">
          <p>Order ID: {{ item.id }}</p>
          <p>Is Delivered : {{ item.isDelivered }}</p>
          <p>Shipping Address: {{ item.shippingAddress.city }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <div class="">
          <p>cart details:</p>
          <!-- <p>{{ item.cartItems[0].product.title }}</p> -->
          <ul>
            <li *ngFor="let cart of item.cartItems">
              {{ cart.product.title.split(" ").slice(0, 2).join(" ") }}
            </li>
          </ul>
        </div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3"></div>
</section>
